<main>
    <div id="page-wrapper">

        <div *ngIf="!environmentId; else content">
            <div class="alert alert-danger">You have to create an katEnvironment in order to manage katServers</div>
        </div>
        <ng-template #content>
            <horizontal-split-pane
                    class="custom-splitter-css"
                    primary-component-minsize="50"
                    secondary-component-minsize="450"
                    local-storage-key="split-pane"
                    primary-component-initialratio="0.8"
                    (change)="onSplitChange($event)">

                <div class="list-bloc split-pane-content-primary">

                    <div class="row">
                        <div class="relative-div">
                            <div class="fade" *ngIf="isLoading">

                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                            <!-- <clusters (init)="isInit()" [setEnvironmentId]="environmentId" (serverSelected)="serverSelected($event)" (clusterSelected)="clusterSelected($event)" (brokerSelected)="brokerSelected($event)" (editing)="edit=$event"></clusters>
                             -->
                            <server-list [id]="0" [setEnvironmentId]="environmentId" [cluster]="null" (serverSelected)="serverSelected($event)"></server-list>
                            <!--
                            <brokers [id]="0" [setEnvironmentId]="environmentId" (brokerSelected)="brokerSelected($event)"></brokers>
                            -->
                        </div>
                    </div>
                    <div class="row lonely"  dnd-droppable (onDropSuccess)="dropped($event)">
                        <div class="relative-div">
                            <div class="fade" *ngIf="isServerLoading">
                                Loading<br/>
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                        </div>
                    </div>
                    <button *ngIf="right.canEdit" class="btn btn-primary" (click)="addNewComponentMainModal.show()"><i class="fa fa-plus"></i> Create...</button>
                </div>

                <div class="details-bloc split-pane-content-secondary">

                    <div class="row details">
                        <server-details *ngIf="selectedServer != null" [setServer]="selectedServer" (serverUpdated)="serverUpdatedEvent($event)"></server-details>
                        <!--<cluster-details *ngIf="selectedCluster != null" [setCluster]="selectedCluster"></cluster-details>
                        <broker-details *ngIf="selectedBroker != null" [setBroker]="selectedBroker" (brokerUpdated)="brokerUpdatedEvent($event)"></broker-details>-->
                    </div>
                    <div class="clearfix"></div>
                </div>
            </horizontal-split-pane>
        </ng-template>
    </div>

    <div class="modal fade" bsModal #addNewComponentMainModal="bs-modal"
         tabindex="-1" role="dialog" aria-labelledby="Confirmation" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">What do you want?</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="addNewComponentMainModal.hide()">
                        <span aria-hidden="true"><i class="fa fa-times black"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to create a new server or a new cluster?
                </div>
                <div class="modal-footer">
                    <button class="btn" (click)="addNewComponentMainModal.hide()">
                        Cancel
                    </button>
                    <!--   <button class="btn btn-primary" (click)="addNewComponentMainModal.hide(); addNewCluster()" >
                           <i class="fa fa-object-group"></i> Create a new cluster
                       </button>-->
                    <button class="btn btn-info" (click)="addNewComponentMainModal.hide(); addNewServer()">
                        <i class="fa fa-server"></i> Create a new server
                    </button>
                    <!-- <button class="btn btn-success" (click)="addNewComponentMainModal.hide(); addNewBroker()">
                         Create a new broker
                     </button>-->
                    <!--<button class="btn btn-success" (click)="addNewComponentMainModal.hide(); addExistingComponentOpenModal()">
                        Add a component already existing in another katEnvironment
                    </button>-->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" bsModal #addExistingComponentMainModal="bs-modal"
         tabindex="-1" role="dialog" aria-labelledby="Confirmation" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Which one do you want?</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="addExistingComponentMainModal.hide()">
                        <span aria-hidden="true"><i class="fa fa-times black"></i></span>
                    </button>
                </div>
                <div class="modal-body relative-div">
                    <div class="fade" *ngIf="!existingListLoaded">
                        Loading<br/>
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <div class="form-group">
                        <label for="clusters">Existing clusters:</label>
                        <select id="clusters" class="form-control" #clusterSelect (change)="addExistingTmp={value: clusterSelect.value, type: 'cluster'}">
                            <option>Select a cluster</option>
                            <option *ngFor="let cluster of existingClusters" value="{{cluster.id}}">{{cluster.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="katServers">Existing katServers:</label>
                        <select id="katServers" class="form-control" #serverSelect (change)="addExistingTmp={value: serverSelect.value, type: 'server'}">
                            <option>Select a server</option>
                            <option *ngFor="let server of existingServers" value="{{server.id}}">{{server.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="brokers">Existing brokers:</label>
                        <select id="brokers" class="form-control" #brokerSelect (change)="addExistingTmp={value: brokerSelect.value, type: 'broker'}">
                            <option>Select a broker</option>
                            <option *ngFor="let broker of existingBrokers" value="{{broker.id}}">{{broker.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" (click)="addExistingComponentMainModal.hide()">
                        Cancel
                    </button>
                    <button class="btn btn-success" (click)="addExistingComponentMainModal.hide(); addExistingComponent()">
                        Add selected component
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
