<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>" />

  <!-- base url -->
  <base href="/" />
  <link rel="icon" type="image/png" href="/assets/favicon.png" />

  <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome/css/font-awesome.min.css" />
  <link href="/assets/dist/css/sb-admin-2.css" rel="stylesheet">
  <link href="/assets/style.css" rel="stylesheet">
</head>

<body>

  <app>
    Loading...
  </app>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  <script type="text/javascript" src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/dist/js/sb-admin-2.js"></script>

</body>
</html>
