<div class="fade" *ngIf="isLoading">
    Loading<br/>
    <i class="fa fa-spinner fa-spin"></i>
</div>

<ng-container *ngFor="let server of katServerList; let index=index">
    <server *ngIf="!isLoading" [server]="server"
                                [index]="index"
                               [environmentId]="environmentId"
                               [cluster]="cluster"
                                [id]="id" (click)="selectServer(server); $event.stopPropagation()"
                                (removeServer)="removeServerEvent($event)"></server>
</ng-container>


<div class="modal fade" bsModal #removeServerModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="Confirmation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Confirmation</h4>
                <button type="button" class="close pull-right" aria-label="Close"
                        (click)="removeServerModal.hide(); $event.stopPropagation()">
                    <span aria-hidden="true"><i class="fa fa-times black"></i></span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button class="btn" (click)="removeServerModal.hide(); $event.stopPropagation()">
                    Cancel
                </button>
                <button type="submit" class="btn btn-danger"
                        (click)="removeServerModal.hide(); removeServer(); $event.stopPropagation()">
                    <i class="fa fa-trash"></i> Proceed
                </button>
            </div>
        </div>
    </div>
</div>