<div class="content relative-div">
    <div class="column-padding-left"></div>
    <div class="column-padding-right"></div>

    <div class="fade" *ngIf="isLoading">
        Loading<br/>
        <i class="fa fa-spinner fa-spin"></i>
    </div>

    <div class="row">
        <div class="col-md-3 form-group">
            <label for="filter-field">Filter:</label>
            <input id="filter-field" class="form-control" [(ngModel)]="filterQuery" placeholder="Filter"/>
        </div>
        <div class="col-md-3 form-group">
            <button class="btn btn-info btn-add" (click)="addRepositoryModal.show()"><i class="fa fa-plus"></i> Add a repository</button>
        </div>
    </div>
    <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="15">
        <thead>
        <tr>
            <th style="width: 30%">
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 50%">
                <mfDefaultSorter by="uri">Uri</mfDefaultSorter>
            </th>
            <th style="width: 20%" *ngIf="cluster.type==='virtual'">
                <mfDefaultSorter by="located">Located</mfDefaultSorter>
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of mf.data">
            <td>{{item.name}}</td>
            <td>{{item.uri}}</td>
            <td *ngIf="cluster.type==='virtual'">{{item.located}}</td>
            <td>
                <i class="fa fa-trash clickable" tooltip="Remove" (click)="remove(item)"></i>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>
</div>


<div class="modal fade" bsModal #addRepositoryModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="Add a repository" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Add a repository</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="addRepositoryModal.hide()">
                    <span aria-hidden="true"><i class="fa fa-times black"></i></span>
                </button>
            </div>
            <div class="modal-body">
                Repository uri :
                <input type="text" class="form-control" #repositoryUri placeholder="e.g.: mvn:org.apache.karaf.features/standard/4.1.1/xml/features">
            </div>
            <div class="modal-footer">
                <button class="btn" (click)="addRepositoryModal.hide()" >
                    Cancel
                </button>
                <button type="submit" class="btn btn-info" (click)="addRepositoryModal.hide(); addRepository(repositoryUri.value)">
                    <i class="fa"></i> Proceed
                </button>
            </div>
        </div>
    </div>
</div>