:host{

  .bloc-up{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  .bloc-down{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  .content{
    margin-left: -15px;
    padding-left: 15px;
    margin-right: -15px;
    padding-right: 15px;
    padding-top: 15px;
  }

  .column-padding-left{
    position: absolute;
    height: 100%;
    width: 15px;
    top: 0;
    left: 0;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: -1px;
  }

  .column-padding-right{
    position: absolute;
    height: 100%;
    width: 15px;
    top: 0;
    right: 0;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: -1px;
  }

}