<div class="content relative-div">
    <div class="column-padding-left"></div>
    <div class="column-padding-right"></div>

    <div class="fade" *ngIf="isLoading">
        Loading<br/>
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div class="row" *ngIf="server.parentCluster">
        <div class="col-md-12">
            <div class="alert alert-warning">
                Warning: This server is part of a cluster. If this cluster has other katServers and is using cellar, installing bundles or features here will result in unpredictable behavior. You should select the cluster instead.
                You will be able to install a bundle or a feature on only one server of a cellar cluster in a future release.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 form-group">
            <label for="filter-field">Filter:</label>
            <input id="filter-field" class="form-control" [(ngModel)]="filterQuery" placeholder="Filter"/>
        </div>
    </div>
    <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="15">
        <thead>
        <tr>
            <th style="width: 40%">
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 25%">
                <mfDefaultSorter by="installed">Installed</mfDefaultSorter>
            </th>
            <th style="width: 25%">
                <mfDefaultSorter by="version">Version</mfDefaultSorter>
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of mf.data">
            <td>{{item.name}}</td>
            <td>{{item.installed}}</td>
            <td>{{item.version}}</td>
            <td>
                <i *ngIf="item.installed" class="fa fa-trash clickable" tooltip="Uninstall" (click)="uninstall(item)"></i>
                <i *ngIf="!item.installed" class="fa fa-download clickable" tooltip="Install" (click)="install(item)"></i>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>
</div>