<h3>Management of scheduled job</h3>

<div class="col-md-12 mb-10">
    <div class="col-md-6">
    <div class="float-right">
        <label class="label-control">Rows on page</label>
        <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="15">15</option>
        </select>
    </div>
    </div>
    <div class="col-md-6 float-left">
    <div class="float-left">
        <label class="label-control">Search</label>
        <input class="form-control col-md-4" [(ngModel)]="filterQuery"/>
    </div>
    </div>
</div>

<table class="table table-striped" [mfData]="scheduledCron | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
    <thead>
    <th>Project</th>
    <th>Name</th>
    <th>Version</th>
    <th>Context</th>
    <th>State scheduling</th>
    <th>State runing</th>
    <th>Cron</th>
    <th>Next execution</th>
    <th *ngIf="right.canEdit === true">Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let katJob of mf.data">
        <td>{{ katJob.project }}</td>
        <td><span  class="cursor-pointer" tooltip="{{ katJob.description }}">{{ katJob.name }}</span></td>

        <td>
            <a class="cursor-pointer" *ngIf="right.canEdit" (click)="changeVersion(chooseVersion, katJob);">{{ katJob.version }}</a>
            <span *ngIf="!right.canEdit">{{ katJob.version }}</span>
        </td>

        <td>
            <a (click)="openModalOverride(overrideContext, katJob)" class="cursor-pointer">{{ katJob.context }}</a>
            <i (click)="removeContextOverloaded(katJob)" *ngIf="katJob.overloadedContext && right.canEdit === true" class="fa fa-times cursor-pointer color-red" aria-hidden="true"></i>

        </td>
        <td>
            <ng-container *ngIf="katJob.scheduling !== '0 0 0 1 1 ? 1970'">{{ katJob.state }}</ng-container>

            <a *ngIf="katJob.state != 'active' && right.canEdit === true && katJob.scheduling !== '0 0 0 1 1 ? 1970'" tooltip="Resume" class="actionButton cursor-pointer float-right" (click)="this.changeStatus(katJob.pid, 'resume')">
                <i class="fa fa-play cursor-pointer" aria-hidden="true"></i>
            </a>
           <a *ngIf="katJob.state != 'active' && right.canEdit === true && katJob.scheduling !== '0 0 0 1 1 ? 1970'" tooltip="null" class="actionButton cursor-pointer float-right">

            </a>

            <a *ngIf="katJob.state != 'paused' && right.canEdit === true && katJob.scheduling !== '0 0 0 1 1 ? 1970'" tooltip="Pause" class="actionButton cursor-pointer float-right" (click)="this.changeStatus(katJob.pid, 'pause')">
                <i class="fa fa-pause cursor-pointer" aria-hidden="true"></i>
            </a>

            <a *ngIf="katJob.state != 'paused' && right.canEdit === true && katJob.scheduling !== '0 0 0 1 1 ? 1970'" tooltip="Pause" class="actionButton cursor-pointer float-right">

            </a>
            <a *ngIf= "katJob.scheduling ==='0 0 0 1 1 ? 1970'"   tooltip="null"  >-</a>
        </td>
        <td *ngIf="katJob.running === true">Running
            <a *ngIf="right.canEdit === true" tooltip="Kill" class="actionButton cursor-pointer float-right" (click)="this.changeStatus(katJob.pid, 'kill')">
                <i class="fa fa-stop cursor-pointer" aria-hidden="true"></i>
            </a>
        </td>

        <td *ngIf="katJob.running != true">Idle
            <a *ngIf="right.canEdit === true" tooltip="Start" class="actionButton cursor-pointer float-right" (click)="this.changeStatus(katJob.pid, 'start')">
                <i class="fa fa-play cursor-pointer" aria-hidden="true"></i>
            </a>
        </td>
        <td>
            <span *ngIf="katJob.scheduling !== '0 0 0 1 1 ? 1970'" >{{ katJob.scheduling }}</span>
            <a *ngIf="!right.canEdit" (click)="openModalCron(cronGeneratorModal, katJob)" class="cursor-pointer">{{ katJob.scheduling }}</a>
            <a *ngIf= "katJob.scheduling =='0 0 0 1 1 ? 1970'"   tooltip="null"  >-</a>

        </td>
        <td>{{ katJob.nextExecution }}</td>
        <td *ngIf="right.canEdit === true">
            <a tooltip="Supprimer" class="actionButton cursor-pointer float-right" (click)="this.deleteKatJob(katJob)">
                <i class="fa fa-trash cursor-pointer" aria-hidden="true"></i>
            </a>

            <a tooltip="Notification email" class="actionButton cursor-pointer float-right" (click)="openModalMail(notifyMail, katJob)">
                <i [ngClass]="(katJob.mailActive===false)?'color-red':'color-green'" class="fa fa-at cursor-pointer bold color-green" aria-hidden="true"></i>
            </a>

            <a tooltip="Paramètres" class="actionButton cursor-pointer float-right" (click)="openModalParam(ParamNotify, katJob)">
                <i [ngClass]="(katJob.jvmActive===false)?'color-red':'color-green'" class="fa fa-wrench cursor-pointer bold color-green" aria-hidden="true"></i>
            </a>

            <!--<a tooltip="Notification SMS" class="actionButton cursor-pointer float-right" (click)="this.openModalSms(notifySms, katJob)">
                <i [ngClass]="(katJob.notifySms.length==0)?'color-red':'color-green'" class="fa fa-comments cursor-pointer" aria-hidden="true"></i>
            </a>-->
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="10">
            <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
<ng-template #ParamNotify>
    <div class="modal-header">
        Parametres
    </div>
    <form (ngSubmit)="validParam()" #formvalidParam="ngForm">
    <div class="modal-body">
        <h3>Ajouter un Parametre</h3>

            <div class="form-group col-md-6">
                <input class="form-control" required id="params" [(ngModel)]="paramJvm.options" #params placeholder="Parametres" type="text" name="parametres" >
            </div>
            <button [disabled]="!formvalidParam.valid" type="submit" class="btn btn-success">Valider</button>

    </div>
    <div class="modal-footer">

        <button type="button" (click)="closeModal(ParamNotify)" class="btn btn-error" data-dismiss="modal">Close</button>
        <button *ngIf="paramJvm.active === false" (click)= " enableParams(true)" type="button" class="btn btn-success" data-dismiss="modal">Enable</button>
        <button  *ngIf="paramJvm.active === true" (click)= " disableParams(false)" type="button"  class="btn btn-error" data-dismiss="modal">Disable</button>



    </div>
    </form>
</ng-template>




<ng-template #chooseVersion>
    <div class="modal-header">
        Changer de version
    </div>
    <div class="modal-body">
        <select class="form-control input-sm" #version (change)="updateVersionValue(version.value)">
            <ng-container *ngFor="let elem of versionDispos">
            <option *ngIf="elem === selectedKatJob.version" selected>{{ elem }}</option>
                <option *ngIf="elem != selectedKatJob.version">{{ elem }}</option>
            </ng-container>
        </select>
    </div>
    <div class="modal-footer">

        <button type="button" (click)="closeModal(notifyMail)" class="btn btn-error" data-dismiss="modal">Close</button>
        <button type="button" (click)="chhangeUpdateValue(notifyMail)" class="btn btn-success" data-dismiss="modal">Valider</button>

    </div>
</ng-template>

<ng-template #notifyMail>
    <div class="modal-header">
      Notifications mail
    </div>
    <div class="modal-body">
       <!-- <h3>Texte à envoyer</h3>
        <input type="text" class="form-control" placeholder="message">-->

        <ng-container *ngIf="currentMailNotif?.recipients.length >0">

        <h3>Email renseignés</h3>
            <ul class="list-style-none">
                <ng-container *ngFor="let katJobMail of currentMailNotif?.recipients">
                <li *ngIf="katJobMail != ''" class="font-size-medium">
                    {{ katJobMail  }}
                    <a tooltip="Delete" (click)="removeOneMail(katJobMail)">
                        <i style="color: darkred" class="fa fa-trash cursor-pointer" aria-hidden="true"></i>
                    </a>
                </li>
                </ng-container>
            </ul>
        </ng-container>
        <h3>Ajouter un email</h3>
        <form (ngSubmit)="addEmail()" #formAddMail="ngForm">
            <div class="form-group col-md-6">
                <input class="form-control" required id="email" #mail placeholder="Email" type="email" name="email" [(ngModel)]="mailStr" email>
            </div>
            <button [disabled]="!formAddMail.valid" type="submit" class="btn btn-success">Add</button>
        </form>
    </div>
    <div class="modal-footer">

        <button type="button" (click)="closeModal(notifyMail)" class="btn btn-error" data-dismiss="modal">Close</button>

        <button *ngIf="currentMailNotif?.active === false" (click)="validNotifMail(true)" type="button" class="btn btn-success" data-dismiss="modal">Enable</button>
        <button *ngIf="currentMailNotif?.active === true" (click)="validNotifMail(false)" type="button"  class="btn btn-error" data-dismiss="modal">Disable</button>

    </div>
</ng-template>

<ng-template #overrideContext>
    <div class="modal-header">
        Context overriding
    </div>
    <div class="modal-body">
        <table class="table table-striped font-size-small">
            <thead>
            <th>Property name</th>
            <th>Original value</th>
            <th>Overloaded value</th>
            <th *ngIf="right.canEdit === true">Active</th>
            </thead>
            <tbody>
            <tr *ngFor="let context of currentOverridedContext?.contextProperties">
                <td class="t-al pt-10">{{ context.propertyName }}</td>
                <td class="t-al pt-10">{{ context.originalValue }}</td>
                <td class="t-al">
                    <input *ngIf="right.canEdit === true" type="text" class="form form-control smallInputs" (change)="updateOverloadedValue()" [(ngModel)]="context.overloadedValue">
                    <span *ngIf="right.canEdit === false">{{ context.overloadedValue }}</span>
                </td>
                <td *ngIf="right.canEdit === true" class="t-al pt-10">
                    <a (click)="changeContextOverrideStatus(context)">
                    <i  [ngClass]="(context.active===false)?'color-red fa fa-times':'color-green fa fa-check'" class="cursor-pointer" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="closeModal(overrideContext)" class="btn btn-error" data-dismiss="modal">Close</button>
    </div>
</ng-template>

<ng-template #cronGeneratorModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Cron Generator</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cronGeneratorModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <cron-editor style="font-size: 10px !important;" [(cron)]="selectedKatJob.scheduling" [options]="cronOptions"></cron-editor>
        <input type="text" [ngModel]="selectedKatJob.scheduling" (change)="updateCronManager($event.target.value)" class="form-control input-sm" placeholder="type you cron here"/>
    </div>
    <div class="modal-footer">

        <button (click)="closeModal()" type="button" class="btn btn-error" data-dismiss="modal">Close</button>

        <button (click)="updateCron()" type="button" class="btn btn-success" data-dismiss="modal">Ok</button>

    </div>
</ng-template>

<!--<ng-template #notifySms>
    <div class="modal-header">
       Notifications SMS
    </div>
    <div class="modal-body">

        <ng-container *ngIf="selectedKatJob.notifySms.length>0">

            <h3>Telephonne saisis</h3>
            <ol>
                <li *ngFor="let katJobSms of selectedKatJob.notifySms" class="font-size-medium">{{ katJobSms  }}

                    <a tooltip="Delete" (click)="removeOneTel(katJobSms)">
                        <i style="color: darkred" class="fa fa-trash cursor-pointer" aria-hidden="true"></i>
                    </a>
                </li>
            </ol>
        </ng-container>
        <h3>Ajouter un telephonne</h3>
        <form (ngSubmit)="addTel()" #formAddTel="ngForm">
            <div class="form-group col-md-6">
                <input placeholder="+33012345678" class="form-control" pattern="^\s*(?:\+?(\d{1,3}))?[- (]*(\d{3})[- )]*(\d{3})[- ]*(\d{4})(?: *[x/#]{1}(\d+))?\s*$" required id="sms" #tel type="text" name="telephone" [(ngModel)]="telStr">
            </div>
            <button [disabled]="!formAddTel.valid" type="submit" class="btn btn-success">Add</button>
        </form>

    </div>
    <div class="modal-footer">

        <button (click)="closeModal(notifySms)" type="button" class="btn btn-error" data-dismiss="modal">Close</button>

        <button (click)="closeModal(notifySms)" type="button" class="btn btn-success" data-dismiss="modal">Ok</button>

    </div>
</ng-template>-->

