:host {
  .navbar-brand{
    padding: 10px 10px;
    img{
      width: 35px;
    }
  }

  a.sub-menu{
    cursor: pointer;
    text-decoration: none;
    padding: 10px 15px 10px 38px;
    display: block;
  }

  a.sub-menu:hover{
    text-decoration: none;
    background-color: #eee;
  }

  ul.sub-menu{
    padding: 0;
    list-style: none;
  }

  .btn-panel{
    float: right;
    margin-top: 3px;
    margin-left: 5px;
  }

  .environment-input{
    width: 150px;
  }

  #logout {
    height: 51px;
    line-height: 51px;
    cursor: pointer;
    text-align: center;

    > a {
      color: #3a3a3a;

      > i {
        margin-right: 8px;
      }
    }

    > a:hover {
      text-decoration: none;
    }
  }

  #logout:hover {
    background-color: #e0e0e0;

    > a {
      color: #395484;
    }
  }
}
