<div class="col-md-12 mb-10 border-right">
    <div class="col-md-5">
        <div class="float-right">
            <label class="label-control">Rows on page</label>
            <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
            </select>
        </div>
    </div>
    <div class="col-md-5 float-left">
        <div class="float-left">
            <label class="label-control">Search</label>
            <input class="form-control col-md-4" [(ngModel)]="filterQuery"/>
        </div>
    </div>

    <div class="col-md-2 float-left">
        <div class="float-left">
            <label class="label-control"></label>
            <a>
                <button *ngIf="right.isSuperAdmin" (click)="openModalCreateGroup(createGroupModal)" class="btn btn-success createButton">Créer un groupe</button>
            </a>
        </div>
    </div>
</div>

<table class="table table-striped" [mfData]="groups | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
    <thead>
    <th>Nom</th>
    <th>Role</th>
    <th>Environnements</th>
    <th>Context groups</th>
    <th *ngIf="right.isSuperAdmin">Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let row of mf.data">
        <td>{{ row.label }}</td>
        <td>
            {{ row.role.label }}
        </td>
        <td>
           <span *ngIf="row.role.label === 'ADMIN' || row.role.label === 'SUPER-ADMIN'">All</span>
           <span *ngIf="row.environments && row.environments.length !== 0">{{ row.environments.length }}  environment(s)
               <i (click)="setEnvDisplay(row.environments);openModal(showEnvs)" tooltip="show" class="fa fa-eye cursor-pointer hover-blue color-green"></i>
           </span>
           <span *ngIf="!(row.role.label === 'ADMIN' || row.role.label === 'SUPER-ADMIN') && row.environments.length === 0">Aucun
           </span>
        </td>
        <td>
            <span *ngIf="row.label === 'ADMIN' || row.role.label === 'SUPER-ADMIN'">All</span>
            <span *ngIf="(!(row.role.label === 'ADMIN' || row.role.label === 'SUPER-ADMIN')) && row.contextGroup">{{ row.contextGroup.label }}      </span>
            <span *ngIf="(!(row.role.label === 'ADMIN' || row.role.label === 'SUPER-ADMIN')) && !row.contextGroup">Aucun
            </span>
        </td>
        <td *ngIf="right.isSuperAdmin">
            <ng-container *ngIf="!(row.label === 'k_admin' || row.label === 'k_superadmin')">
                <i (click)="editRole(row); openModal(createGroupModal)" class="fa fa-edit cursor-pointer hover-blue color-green"></i>
                <i (click)="deleteGroup(row)" class="fa fa-trash cursor-pointer hover-blue color-red"></i>
            </ng-container>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="10">
            <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>


<ng-template #createGroupModal>
    <form #formAddGroup="ngForm" (ngSubmit)="submitGroup()">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Ajouter un group</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <label>Label</label>
            <input type="text" name="label" #labelGroup="ngModel" required  [(ngModel)]="group.label" class="form-control" id="labelContext" placeholder="Nom">

            <div [hidden]="labelGroup.valid"
                 class="alert alert-danger">
                <span>Label is required</span>
            </div>

            <div *ngIf="labelGroup.valid" class="mb-10"></div>

            <label>Role</label>

            <select class="form-control" name="role" required [(ngModel)]="group.role">
                <option *ngFor="let rol of this.roles" [ngValue]="rol">{{rol.label}}</option>
            </select>


            <div [hidden]="group.role"
                 class="alert alert-danger">
                <span>You need choose a role</span>
            </div>

            <label>Environment</label>

            <ng-select #ngSelect  [multiple]="true"
                     [items]="environmentSelect"
                       [active]="valueEnvironment"
                     (data)="refreshValueEnv($event)"
                     (selected)="selectedEnv($event)"
                     (removed)="removedEnv($event)"></ng-select>

        <div [hidden]="group.environments && group.environments.length != 0"
               class="alert alert-danger">
            <span>You need to add environment</span>
          </div>

            <label>Context group</label>

            <select class="form-control" name="context-group" required [(ngModel)]="group.contextGroup">
                <option *ngFor="let cg of this.contextGroups" [ngValue]="cg">{{cg.label}}</option>
            </select>



            <div [hidden]="group.contextGroup"
                 class="alert alert-danger">
                <span>You need choose a context group</span>
            </div>

        </div>
        <div class="modal-footer">

            <button (click)="closeModal()" type="button" class="btn btn-error" data-dismiss="modal">Close</button>

            <button [disabled]="!formAddGroup.valid
            || (group.contextGroup && group.contextGroup.length === 0)
            || (group.environments && group.environments.length === 0)" type="submit" class="btn btn-success" data-dismiss="modal">Ok</button>

        </div>
    </form>
</ng-template>

<ng-template #showEnvs>

    <div class="modal-header">
        <h4 class="modal-title pull-left">Context list</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal(modalShowContext)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ul>
            <li *ngFor="let env of this.envDisplay">{{ env.name }}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button (click)="closeModal(modalShowContext)" type="button" class="btn btn-error" data-dismiss="modal">Close</button>
    </div>
</ng-template>