#page-wrapper {
    margin-top: 30px;
}

#createWorkflow {
    margin-top: 6px;
}

.br-1-px {
    border-right: 1px dotted cornflowerblue;
}

.bb-1-px {
    border-bottom: 1px dotted cornflowerblue;
}

.bl-1px {
    border-left: 1px solid cornflowerblue;
}

.mt20 {
    margin-top: 20px;
}
