<form name="login" autocomplete="off" (submit)="false" (keydown)="enterType($event)" #form>
    <h2>KAT Admin Tools</h2>

    <div id="kat-logo">
        <img src="../../../assets/kat.x128.png" height="128" alt="Logo KAT" />
    </div>

    <div class="pretty-input" [class.focused]="inputUsr.value.length > 0 || inputUsrFocused">

        <input type="text"
               name="username"
               class="form-control"
               id="input-usr"
               autocomplete="nope"
               (focus)="inputUsrFocused = true"
               (blur)="inputUsrFocused = false"
               (keyup)="changeUsername($event)"
               #inputUsr>

        <i class="fa fa-user" aria-hidden="true"></i>

        <span class="placeholder">Username</span>
    </div>

    <div class="pretty-input" [class.focused]="inputPwd.value.length > 0 || inputPwdFocused">

        <input [ngModel]="password" type="password"
               class="form-control"
               name="password"
               id="input-pwd"
               autocomplete="new-password"
               (focus)="inputPwdFocused = true"
               (blur)="inputPwdFocused = false"
               (keyup)="changePassword($event)"
               #inputPwd>

        <i class="fa fa-lock" aria-hidden="true"></i>

        <span class="placeholder">Password</span>
    </div>

    <div class="btn btn-primary" (click)="sendLogin($event, inputUsr.value, inputPwd.value)">
        <span *ngIf="!isLoading">Login</span>
        <span *ngIf="isLoading">
            <i class="fa fa-cog fa-spin"></i> Please wait...
        </span>
    </div>
</form>
