:host {

  .spinner-right {
    position: absolute;
    top: 0;
    right: 15px;
    color: #555555;
    z-index: 1000;
  }

  a.list-group-item {
    cursor: pointer;
  }

  .cluster-list {
    max-height: 78vh;
    overflow-y: auto;
  }

  .fade {
    min-height: 200px;
    top: 0;
    left: 0;
  }

  .list-data {
    margin-top: 20px;
  }

  .full-div {
    width: 100%;
  }

  .min-height {
    min-height: 45px;
    margin-top: -2px;
  }

  .wrap-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
    float: left;
    margin-left: 5px;
  }

  .wrap-text-server {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 75%;
    float: left;
    margin-left: 5px;
    padding: 10px 15px;
  }

  .wrap-text-small {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 74%;
    float: left;
  }

  .btn-list {
    float: right;
  }

  .btn-panel{
    float: right;
    margin-top: 3px;
    margin-left: 5px;
  }

  .btn-line {
    float: right;
    margin-right: 2px;
  }

  .btn-cell {
    float: right;
    margin-right: 2px;
    margin-top: 13px;
  }

  .list-group-item {
    min-height: 45px;
  }

  .badge-custom {
    float: left;
    margin-left: -10px;
  }

  .server-list {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    padding: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .server-bloc {
    margin-top: 10px;
  }

  .server-add {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 330px;
    max-width: 330px;
    margin-bottom: 20px;

    .btn {
      width: 100%;
      height: 40px;
    }

  }

  .btn-trash-server {
    position: absolute;
    top: 8px;
    right: 20px;
  }

  .red {
    color: #ca3838;
  }

  .green{
    color: green;
  }

  .orange {
    color: orange;
  }

  .black{
    color: black;
  }

  .selected{
    margin-bottom: -1px;
    border: 2px solid #18d83b;
  }

  .panel-cluster{
    cursor: pointer;
  }

}