<div class="content relative-div">
    <div class="column-padding-left"></div>
    <div class="column-padding-right"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h3>Main data:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label for="name">
                            Name :
                        </label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="broker.name" (change)="update()" placeholder="Broker name">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4" tooltip="Not implemented">
                    <div class="form-group">
                        <label for="type">
                            Type :
                        </label>
                        <select type="text" class="form-control" id="type" disabled [(ngModel)]="broker.type" (change)="updated()">
                            <option selected value="activemq">Activemq</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label for="system-name">
                            System name :
                        </label>
                        <input type="text" class="form-control" id="system-name" [(ngModel)]="broker.systemName" (change)="update()" placeholder="Automatically fetched but can be modified">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label for="url">
                            Jolokia url :
                        </label>
                        <input type="text" class="form-control" id="url" [(ngModel)]="broker.communicationUrl" (change)="update(); jolokiaUrlChanged=true" placeholder="e.g.: localhost:8181/jolokia">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label for="authUser">
                            Web server user :
                        </label>
                        <input type="text" class="form-control" id="authUser" [(ngModel)]="broker.authCredentials.user" (change)="update()" placeholder="Leave blank if there is no HTTP auth to reach the server">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label for="authPwd">
                            Web server password :
                        </label>
                        <input type="password" class="form-control" id="authPwd" [(ngModel)]="broker.authCredentials.password" (change)="update()" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-8 col-sm-6 col-lg-2">
                    <h3 tooltip="These fields are used to start the broker through ssh, you need to fill all of them if you want to use this functionality">
                        <i class="fa fa-info-circle"></i>
                        SSH config:
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label for="user">User login: </label>
                        <input type="text" autocomplete="off" id="user" class="form-control" placeholder="login"
                               name="user" [(ngModel)]="broker.sshLogin.user" (change)="update()">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label for="passwd">User password:</label>
                        <input type="password" autocomplete="new-password" id="passwd" class="form-control"
                               placeholder="password" name="password" [(ngModel)]="broker.sshLogin.password"
                               (change)="update()">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label for="host">Server host address:</label>
                        <input type="text" id="host" class="form-control" placeholder="e. g.: localhost" name="host" [(ngModel)]="broker.sshLogin.host" (change)="update()">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label for="port">SSH port:</label>
                        <input type="text" id="port" class="form-control" placeholder="ssh port" name="port" [(ngModel)]="broker.sshLogin.port" (change)="update()">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label for="path">Absolute path to activemq wrapper:</label>
                        <input type="text" id="path" class="form-control" placeholder="e. g.: /var/apache-karaf" name="path" [(ngModel)]="broker.sshLogin.path" #path="ngModel" pattern="[a-zA-Z0-9\/\.\-_:]*" (change)="update(true)">
                        <div *ngIf="path.errors && (path.dirty || path.touched)"
                             class="alert alert-danger">
                            <div [hidden]="!path.errors.pattern">
                                <span>Path contains illegal characters</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>